.userAndPassword{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.form{
    width: 30%;
    margin-left: auto;
    margin-right: auto;
}
.loginButton{
    background-color: #2196F3 !important;
    color: #FFF !important;
    width: 30% !important;
    margin: 10px auto auto !important;
}
.formHeader{
    margin: 30px auto 10px auto !important;
    width: 100%;
    display: flex;
    justify-content: center;
}
.error{
    border-color: red !important;
    background: antiquewhite !important;
}